*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --min-width: 320px;
    --max-width: 1200px;
}


.grid-container {
    --flap: minmax(16px, 1fr);
    --content: minmax(var(--min-width), var(--max-width));

    display: grid;
    grid-template-columns:
    var(--flap)
    var(--content)
    var(--flap);
}

.grid-content {
    grid-column: 2 / 3;
}

.grid-content-full {
    grid-column: 1 / -1;
}


